In [ ]:
import pandas as pd
# read the dataset
df1=pd.read_csv("Credit_card.csv")

df2=pd.read_csv("Credit_card_label.csv")


#merging the dataset
cc=pd.merge(df1,df2, how="outer",on="Ind_ID")
import duckdb
conn=duckdb.connect()
df=cc.copy()

In [ ]:
conn.register("df",df)
conn.execute("select * from df").fetchdf().head(2)

,Ind_ID,GENDER,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Birthday_count,Employed_days,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Type_Occupation,Family_Members,label
0,5008827,M,Y,Y,0,180000.0,Pensioner,Higher education,Married,House / apartment,-18772.0,365243,1,0,0,0,None,2,1
1,5009744,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,None,2,1

In [ ]:
# 1. Group the customers based on their income type and find the average of their annual income.
conn.execute("select Type_Income ,avg(Annual_income) from df group by Type_Income").fetchdf().head(10)

            Type_Income  avg(Annual_income)
0             Pensioner       155175.096226
1               Working       181048.757306
2         State servant       211422.413793
3  Commercial associate       234600.000000

In [ ]:
# 2.Find the female owners of cars and property.
result = conn.execute("SELECT * FROM df WHERE GENDER = 'F' AND Car_Owner = 'Y' AND Propert_Owner = 'Y'")
rows = result.fetchall()
for row in rows[:]:
    print(row)

(5018498, 'F', 'Y', 'Y', 0, 90000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -18950.0, -1002, 1, 1, 1, 0, 'Cooking staff', 2, 1)
(5018501, 'F', 'Y', 'Y', 0, None, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -18950.0, -1002, 1, 1, 1, 0, 'Cooking staff', 2, 1)
(5018503, 'F', 'Y', 'Y', 0, 90000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -18950.0, -1002, 1, 1, 1, 0, 'Cooking staff', 2, 1)
(5024213, 'F', 'Y', 'Y', 0, 540000.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -15702.0, -185, 1, 0, 1, 0, None, 2, 1)
(5036660, 'F', 'Y', 'Y', 0, 76500.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -23835.0, 365243, 1, 0, 0, 0, None, 2, 1)
(5053254, 'F', 'Y', 'Y', 0, 180000.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'House / apartment', -18667.0, -2150, 1, 1, 0, 0, 'Managers', 2, 1)
(5065348, 'F', 'Y', 'Y', 0, 202500.0, 'Working', 'Higher education', 'Married', 'House / apartment', -15160.0, -3974, 1, 0, 0, 0, 'High skill tech staff', 2, 1)
(5068389, 'F', 'Y', 'Y', 1, 270000.0, 'Working', 'Higher education', 'Separated', 'House / apartment', -14052.0, -140, 1, 0, 1, 0, 'Sales staff', 2, 1)
(5069216, 'F', 'Y', 'Y', 0, 256500.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -11210.0, -1724, 1, 1, 0, 0, 'Accountants', 2, 1)
(5069218, 'F', 'Y', 'Y', 0, 256500.0, 'Commercial associate', 'Higher education', 'Single / not married', 'House / apartment', -11210.0, -1724, 1, 1, 0, 0, 'Accountants', 2, 1)
(5125708, 'F', 'Y', 'Y', 0, 135000.0, 'Working', 'Lower secondary', 'Married', 'House / apartment', -16413.0, -622, 1, 0, 1, 0, 'High skill tech staff', 2, 1)
(5125716, 'F', 'Y', 'Y', 0, 135000.0, 'Working', 'Lower secondary', 'Married', 'House / apartment', -16413.0, -622, 1, 0, 1, 0, 'High skill tech staff', 2, 1)
(5033574, 'F', 'Y', 'Y', 1, None, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -14222.0, -141, 1, 1, 1, 0, 'Cooking staff', 3, 0)
(5143231, 'F', 'Y', 'Y', 1, 1575000.0, 'Commercial associate', 'Higher education', 'Single / not married', 'House / apartment', -10142.0, -2479, 1, 0, 0, 0, 'Managers', 2, 0)
(5028917, 'F', 'Y', 'Y', 0, 112500.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -17202.0, -1787, 1, 0, 0, 0, 'Sales staff', 2, 0)
(5095310, 'F', 'Y', 'Y', 0, 225000.0, 'Working', 'Higher education', 'Married', 'House / apartment', -12322.0, -3717, 1, 0, 0, 0, 'Core staff', 2, 0)
(5143235, 'F', 'Y', 'Y', 1, 1575000.0, 'Commercial associate', 'Higher education', 'Single / not married', 'House / apartment', -10142.0, -2479, 1, 0, 0, 0, 'Managers', 2, 0)
(5054522, 'F', 'Y', 'Y', 1, 135000.0, 'Working', 'Higher education', 'Married', 'House / apartment', -10014.0, -2311, 1, 0, 0, 0, None, 3, 0)
(5126034, 'F', 'Y', 'Y', 0, 108000.0, 'Working', 'Secondary / secondary special', 'Separated', 'House / apartment', -17171.0, -925, 1, 0, 0, 1, 'Cleaning staff', 1, 0)
(5139548, 'F', 'Y', 'Y', 2, 157500.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -13584.0, -6337, 1, 0, 1, 0, 'Medicine staff', 4, 0)
(5085990, 'F', 'Y', 'Y', 0, 225000.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -21717.0, 365243, 1, 0, 0, 0, None, 2, 0)
(5105614, 'F', 'Y', 'Y', 2, 135000.0, 'Working', 'Higher education', 'Married', 'House / apartment', -12334.0, -460, 1, 0, 0, 0, 'Accountants', 4, 0)
(5009980, 'F', 'Y', 'Y', 0, 180000.0, 'State servant', 'Secondary / secondary special', 'Married', 'House / apartment', -20644.0, -3873, 1, 0, 0, 0, 'Medicine staff', 2, 0)
(5009074, 'F', 'Y', 'Y', 1, 450000.0, 'State servant', 'Higher education', 'Married', 'House / apartment', -17726.0, -708, 1, 0, 1, 1, 'Core staff', 3, 0)
(5116018, 'F', 'Y', 'Y', 0, 450000.0, 'Pensioner', 'Higher education', 'Widow', 'House / apartment', -22083.0, 365243, 1, 0, 1, 0, None, 1, 0)
(5023280, 'F', 'Y', 'Y', 0, 180000.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'House / apartment', -16701.0, -2457, 1, 0, 0, 0, 'Sales staff', 2, 0)
(5021267, 'F', 'Y', 'Y', 1, 270000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -14512.0, -4596, 1, 0, 0, 0, 'Laborers', 3, 0)
(5090861, 'F', 'Y', 'Y', 0, 202500.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'House / apartment', -19765.0, -2168, 1, 0, 0, 0, 'Sales staff', 2, 0)
(5069227, 'F', 'Y', 'Y', 0, None, 'Commercial associate', 'Secondary / secondary special', 'Married', 'House / apartment', -17330.0, -962, 1, 0, 1, 0, 'Sales staff', 2, 0)
(5035688, 'F', 'Y', 'Y', 0, 135000.0, 'Working', 'Secondary / secondary special', 'Civil marriage', 'House / apartment', -16505.0, -8377, 1, 0, 0, 0, 'Laborers', 2, 0)
(5036881, 'F', 'Y', 'Y', 0, 225000.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -22471.0, 365243, 1, 0, 0, 0, None, 2, 0)
(5078842, 'F', 'Y', 'Y', 1, 135000.0, 'Working', 'Secondary / secondary special', 'Married', 'With parents', -10532.0, -117, 1, 0, 0, 0, 'Private service staff', 3, 0)
(5113291, 'F', 'Y', 'Y', 2, 121500.0, 'Working', 'Incomplete higher', 'Married', 'House / apartment', -11327.0, -101, 1, 1, 1, 0, 'Core staff', 4, 0)
(5139951, 'F', 'Y', 'Y', 0, 121500.0, 'State servant', 'Secondary / secondary special', 'Married', 'House / apartment', -19988.0, -3231, 1, 1, 0, 0, None, 2, 0)
(5010397, 'F', 'Y', 'Y', 1, 225000.0, 'Working', 'Higher education', 'Married', 'House / apartment', -14148.0, -1591, 1, 1, 1, 0, 'High skill tech staff', 3, 0)
(5047789, 'F', 'Y', 'Y', 0, 225000.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -10457.0, -979, 1, 0, 0, 0, None, 2, 0)
(5105657, 'F', 'Y', 'Y', 2, 540000.0, 'Working', 'Higher education', 'Single / not married', 'House / apartment', -14160.0, -422, 1, 0, 1, 1, None, 3, 0)
(5035791, 'F', 'Y', 'Y', 0, 90000.0, 'Pensioner', 'Secondary / secondary special', 'Widow', 'House / apartment', -21973.0, 365243, 1, 0, 0, 0, None, 1, 0)
(5088699, 'F', 'Y', 'Y', 0, 252000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -17562.0, -1261, 1, 0, 0, 0, 'Medicine staff', 2, 0)
(5023460, 'F', 'Y', 'Y', 0, 315000.0, 'Pensioner', 'Secondary / secondary special', 'Single / not married', 'House / apartment', -21012.0, 365243, 1, 0, 0, 0, None, 1, 0)
(5146472, 'F', 'Y', 'Y', 0, 180000.0, 'Commercial associate', 'Higher education', 'Civil marriage', 'House / apartment', -14133.0, -3810, 1, 0, 0, 0, 'Sales staff', 2, 0)
(5135574, 'F', 'Y', 'Y', 0, 180000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -11749.0, -992, 1, 0, 0, 0, 'Medicine staff', 2, 0)
(5113132, 'F', 'Y', 'Y', 0, 360000.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'House / apartment', -19033.0, -3535, 1, 0, 0, 0, 'Sales staff', 2, 0)
(5062670, 'F', 'Y', 'Y', 1, 135000.0, 'Working', 'Higher education', 'Married', 'House / apartment', -14863.0, -4407, 1, 0, 0, 0, 'Managers', 3, 0)
(5045203, 'F', 'Y', 'Y', 0, 139500.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -21009.0, 365243, 1, 0, 0, 0, None, 2, 0)
(5029544, 'F', 'Y', 'Y', 1, 133650.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'House / apartment', -14596.0, -1965, 1, 0, 0, 0, None, 3, 0)
(5111159, 'F', 'Y', 'Y', 1, 81000.0, 'Working', 'Higher education', 'Married', 'House / apartment', -10648.0, -1393, 1, 1, 1, 0, 'Core staff', 3, 0)
(5099957, 'F', 'Y', 'Y', 1, 225000.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -11239.0, -460, 1, 0, 0, 0, 'Accountants', 3, 0)
(5149319, 'F', 'Y', 'Y', 1, 180000.0, 'Working', 'Higher education', 'Separated', 'House / apartment', -18838.0, -5981, 1, 0, 0, 0, 'Managers', 2, 0)
(5113288, 'F', 'Y', 'Y', 2, 121500.0, 'Working', 'Incomplete higher', 'Married', 'House / apartment', -11327.0, -101, 1, 1, 1, 0, 'Core staff', 4, 0)
(5053003, 'F', 'Y', 'Y', 0, 157500.0, 'Working', 'Incomplete higher', 'Married', 'House / apartment', -9389.0, -1632, 1, 1, 1, 0, None, 2, 0)
(5061321, 'F', 'Y', 'Y', 1, 261000.0, 'State servant', 'Higher education', 'Married', 'House / apartment', -15050.0, -1628, 1, 0, 0, 0, 'Managers', 3, 0)
(5139410, 'F', 'Y', 'Y', 2, 135000.0, 'State servant', 'Secondary / secondary special', 'Married', 'House / apartment', -14439.0, -6094, 1, 1, 0, 0, 'Core staff', 4, 0)
(5022804, 'F', 'Y', 'Y', 0, 202500.0, 'Working', 'Higher education', 'Widow', 'House / apartment', -11998.0, -1497, 1, 0, 0, 0, 'Managers', 1, 0)
(5092164, 'F', 'Y', 'Y', 0, 45900.0, 'Pensioner', 'Secondary / secondary special', 'Widow', 'House / apartment', -20282.0, 365243, 1, 0, 1, 0, None, 1, 0)
(5088851, 'F', 'Y', 'Y', 0, 112500.0, 'Working', 'Higher education', 'Married', 'House / apartment', -11353.0, -2316, 1, 0, 0, 1, 'Accountants', 2, 0)
(5068390, 'F', 'Y', 'Y', 1, 270000.0, 'Working', 'Higher education', 'Separated', 'House / apartment', -14052.0, -140, 1, 0, 1, 1, 'Sales staff', 2, 0)
(5046036, 'F', 'Y', 'Y', 0, 99000.0, 'Pensioner', 'Secondary / secondary special', 'Civil marriage', 'House / apartment', -21527.0, 365243, 1, 0, 0, 0, None, 2, 0)
(5010781, 'F', 'Y', 'Y', 1, 157500.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -14474.0, -2259, 1, 0, 0, 1, 'Core staff', 3, 0)
(5139553, 'F', 'Y', 'Y', 2, 157500.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -13584.0, -6337, 1, 0, 1, 0, 'Medicine staff', 4, 0)
(5062031, 'F', 'Y', 'Y', 0, 225000.0, 'Working', 'Higher education', 'Single / not married', 'House / apartment', -9688.0, -593, 1, 0, 1, 1, None, 1, 0)
(5041307, 'F', 'Y', 'Y', 0, 90000.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -23118.0, 365243, 1, 0, 1, 0, None, 2, 0)
(5092436, 'F', 'Y', 'Y', 0, 112500.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -19921.0, 365243, 1, 0, 1, 0, None, 2, 0)
(5099877, 'F', 'Y', 'Y', 0, 103500.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -21671.0, 365243, 1, 0, 1, 0, None, 2, 0)
(5067020, 'F', 'Y', 'Y', 1, 247500.0, 'Working', 'Secondary / secondary special', 'Civil marriage', 'House / apartment', -17152.0, -1253, 1, 0, 0, 1, 'Laborers', 3, 0)
(5024586, 'F', 'Y', 'Y', 2, 315000.0, 'State servant', 'Secondary / secondary special', 'Married', 'House / apartment', -12348.0, -1220, 1, 0, 0, 0, 'Managers', 4, 0)
(5142579, 'F', 'Y', 'Y', 1, 234000.0, 'Working', 'Secondary / secondary special', 'Single / not married', 'House / apartment', -20668.0, -2844, 1, 0, 0, 0, None, 2, 0)
(5046035, 'F', 'Y', 'Y', 0, 99000.0, 'Pensioner', 'Secondary / secondary special', 'Civil marriage', 'House / apartment', -21527.0, 365243, 1, 0, 0, 0, None, 2, 0)
(5090788, 'F', 'Y', 'Y', 1, 225000.0, 'Commercial associate', 'Secondary / secondary special', 'Separated', 'House / apartment', -10909.0, -1374, 1, 0, 0, 0, 'Managers', 2, 0)
(5143319, 'F', 'Y', 'Y', 0, 112500.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -20838.0, 365243, 1, 0, 0, 0, None, 2, 0)
(5091735, 'F', 'Y', 'Y', 0, 243000.0, 'Working', 'Secondary / secondary special', 'Single / not married', 'House / apartment', -14716.0, -2057, 1, 0, 0, 0, 'Sales staff', 1, 0)
(5135530, 'F', 'Y', 'Y', 0, 99000.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -21014.0, 365243, 1, 0, 0, 0, None, 2, 0)
(5125730, 'F', 'Y', 'Y', 1, 119700.0, 'Working', 'Higher education', 'Married', 'House / apartment', -13058.0, -3329, 1, 0, 1, 0, None, 3, 0)
(5053678, 'F', 'Y', 'Y', 0, 225000.0, 'Commercial associate', 'Secondary / secondary special', 'Single / not married', 'House / apartment', -12075.0, -1430, 1, 0, 1, 0, 'High skill tech staff', 1, 0)
(5050440, 'F', 'Y', 'Y', 1, 157500.0, 'Working', 'Incomplete higher', 'Civil marriage', 'House / apartment', -13046.0, -2753, 1, 0, 0, 0, None, 3, 0)
(5008865, 'F', 'Y', 'Y', 2, 135000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -15761.0, -3173, 1, 0, 0, 0, 'Laborers', 4, 0)
(5010567, 'F', 'Y', 'Y', 0, 121500.0, 'Working', 'Higher education', 'Married', 'House / apartment', -10145.0, -1682, 1, 0, 0, 1, 'Sales staff', 2, 0)
(5036187, 'F', 'Y', 'Y', 1, 157500.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -20661.0, 365243, 1, 0, 1, 0, None, 3, 0)
(5067444, 'F', 'Y', 'Y', 0, 135000.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -22880.0, 365243, 1, 0, 0, 0, None, 2, 0)
(5117331, 'F', 'Y', 'Y', 0, 270000.0, 'Commercial associate', 'Secondary / secondary special', 'Separated', 'House / apartment', -15027.0, -2257, 1, 0, 1, 0, 'Sales staff', 1, 0)
(5066832, 'F', 'Y', 'Y', 0, 157500.0, 'Pensioner', 'Lower secondary', 'Married', 'House / apartment', -21739.0, 365243, 1, 0, 0, 0, None, 2, 0)
(5035682, 'F', 'Y', 'Y', 0, 135000.0, 'Working', 'Secondary / secondary special', 'Civil marriage', 'House / apartment', -16505.0, -8377, 1, 0, 0, 0, 'Laborers', 2, 0)
(5142496, 'F', 'Y', 'Y', 1, 135000.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -15481.0, -2874, 1, 0, 0, 0, 'Private service staff', 3, 0)
(5091718, 'F', 'Y', 'Y', 0, 90000.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'House / apartment', -14116.0, -2269, 1, 0, 0, 0, 'Medicine staff', 2, 0)
(5046086, 'F', 'Y', 'Y', 0, 99000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -21030.0, -2299, 1, 0, 0, 0, None, 2, 0)
(5041675, 'F', 'Y', 'Y', 1, 333000.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -11525.0, -1616, 1, 0, 0, 0, 'Managers', 3, 0)
(5113163, 'F', 'Y', 'Y', 1, 180000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -12579.0, -3716, 1, 1, 1, 0, None, 3, 0)
(5090335, 'F', 'Y', 'Y', 0, 144000.0, 'Commercial associate', 'Secondary / secondary special', 'Civil marriage', 'House / apartment', -13095.0, -3716, 1, 1, 1, 0, 'Medicine staff', 2, 0)
(5022800, 'F', 'Y', 'Y', 0, 202500.0, 'Working', 'Higher education', 'Widow', 'House / apartment', -11998.0, -1497, 1, 0, 0, 0, 'Managers', 1, 0)
(5088101, 'F', 'Y', 'Y', 0, 270000.0, 'Working', 'Secondary / secondary special', 'Separated', 'House / apartment', -16971.0, -375, 1, 0, 0, 0, None, 1, 0)
(5066458, 'F', 'Y', 'Y', 0, 135000.0, 'Working', 'Secondary / secondary special', 'Separated', 'House / apartment', None, -1406, 1, 0, 0, 0, 'Laborers', 1, 0)
(5068337, 'F', 'Y', 'Y', 0, 112500.0, 'Working', 'Higher education', 'Married', 'House / apartment', -10101.0, -505, 1, 1, 1, 0, 'Laborers', 2, 0)
(5028919, 'F', 'Y', 'Y', 0, 112500.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -17202.0, -1787, 1, 0, 0, 0, 'Sales staff', 2, 0)
(5149433, 'F', 'Y', 'Y', 0, 112500.0, 'Working', 'Secondary / secondary special', 'Widow', 'House / apartment', -19584.0, -2633, 1, 0, 0, 0, None, 1, 0)
(5149484, 'F', 'Y', 'Y', 1, 135000.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -11278.0, -2481, 1, 0, 0, 0, None, 3, 0)
(5033797, 'F', 'Y', 'Y', 0, 148500.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'Office apartment', -17107.0, -2277, 1, 0, 0, 0, 'Core staff', 2, 0)
(5022803, 'F', 'Y', 'Y', 0, 202500.0, 'Working', 'Higher education', 'Widow', 'House / apartment', -11998.0, -1497, 1, 0, 0, 0, 'Managers', 1, 0)
(5069257, 'F', 'Y', 'Y', 1, 67500.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -12821.0, -931, 1, 0, 1, 1, 'Laborers', 3, 0)
(5067832, 'F', 'Y', 'Y', 0, 315000.0, 'Working', 'Higher education', 'Married', 'House / apartment', -21377.0, -577, 1, 0, 0, 1, None, 2, 0)
(5091737, 'F', 'Y', 'Y', 0, 243000.0, 'Working', 'Secondary / secondary special', 'Single / not married', 'House / apartment', -14716.0, -2057, 1, 0, 0, 0, 'Sales staff', 1, 0)
(5096785, 'F', 'Y', 'Y', 0, 270000.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -24194.0, 365243, 1, 0, 0, 0, None, 2, 0)
(5115957, 'F', 'Y', 'Y', 0, 180000.0, 'Working', 'Secondary / secondary special', 'Widow', 'House / apartment', -15494.0, -4304, 1, 0, 0, 0, 'Sales staff', 1, 0)
(5029610, 'F', 'Y', 'Y', 0, 180000.0, 'Commercial associate', 'Higher education', 'Single / not married', 'House / apartment', -15161.0, -7140, 1, 0, 0, 0, 'Core staff', 1, 0)
(5036396, 'F', 'Y', 'Y', 0, 112500.0, 'Working', 'Secondary / secondary special', 'Civil marriage', 'House / apartment', -13686.0, -1256, 1, 0, 0, 0, 'Cooking staff', 2, 0)
(5045850, 'F', 'Y', 'Y', 2, 315000.0, 'Commercial associate', 'Higher education', 'Married', 'With parents', -12621.0, -1327, 1, 0, 0, 0, 'Managers', 4, 0)
(5091880, 'F', 'Y', 'Y', 0, 202500.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'House / apartment', -18463.0, -7048, 1, 0, 0, 0, 'Accountants', 2, 0)
(5010225, 'F', 'Y', 'Y', 1, 90000.0, 'State servant', 'Secondary / secondary special', 'Married', 'House / apartment', -17532.0, -8044, 1, 0, 0, 0, 'Medicine staff', 3, 0)
(5068631, 'F', 'Y', 'Y', 0, 216000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -21216.0, -3641, 1, 0, 0, 0, 'Managers', 2, 0)
(5106118, 'F', 'Y', 'Y', 1, 135000.0, 'Working', 'Higher education', 'Married', 'House / apartment', -13467.0, -393, 1, 0, 0, 0, 'Core staff', 3, 0)
(5067262, 'F', 'Y', 'Y', 0, 270000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -19982.0, -1724, 1, 0, 1, 0, None, 2, 0)
(5029225, 'F', 'Y', 'Y', 0, 144000.0, 'Pensioner', 'Secondary / secondary special', 'Civil marriage', 'House / apartment', -21406.0, 365243, 1, 0, 1, 0, None, 2, 0)
(5028569, 'F', 'Y', 'Y', 0, 315000.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'House / apartment', -15653.0, -5500, 1, 0, 0, 1, 'Core staff', 2, 0)
(5067019, 'F', 'Y', 'Y', 1, 247500.0, 'Working', 'Secondary / secondary special', 'Civil marriage', 'House / apartment', -17152.0, -1253, 1, 0, 0, 1, 'Laborers', 3, 0)
(5021730, 'F', 'Y', 'Y', 1, 180000.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'House / apartment', -16971.0, -1375, 1, 0, 0, 1, 'Cleaning staff', 3, 0)
(5021293, 'F', 'Y', 'Y', 1, 180000.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -11901.0, -183, 1, 0, 0, 1, 'Core staff', 3, 0)
(5062294, 'F', 'Y', 'Y', 0, 225000.0, 'Working', 'Higher education', 'Married', 'House / apartment', -17795.0, -2450, 1, 0, 0, 1, 'Managers', 2, 0)
(5090790, 'F', 'Y', 'Y', 0, 238500.0, 'Working', 'Higher education', 'Married', 'House / apartment', -15203.0, -7095, 1, 0, 0, 0, 'Medicine staff', 2, 0)
(5069292, 'F', 'Y', 'Y', 1, 180000.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'House / apartment', -15461.0, -2605, 1, 1, 1, 0, 'Managers', 3, 0)
(5148981, 'F', 'Y', 'Y', 0, 94500.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -18095.0, -10364, 1, 0, 0, 0, 'High skill tech staff', 2, 0)
(5054496, 'F', 'Y', 'Y', 0, 225000.0, 'Commercial associate', 'Higher education', 'Separated', 'House / apartment', -12102.0, -1185, 1, 0, 0, 0, 'Waiters/barmen staff', 1, 0)
(5091651, 'F', 'Y', 'Y', 1, 252000.0, 'Commercial associate', 'Secondary / secondary special', 'Separated', 'House / apartment', -10707.0, -747, 1, 0, 0, 0, None, 2, 0)
(5033728, 'F', 'Y', 'Y', 1, 202500.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -13666.0, -2089, 1, 1, 1, 0, 'Core staff', 3, 0)
(5149327, 'F', 'Y', 'Y', 1, 180000.0, 'Working', 'Higher education', 'Separated', 'House / apartment', -18838.0, -5981, 1, 0, 0, 0, 'Managers', 2, 0)

In [ ]:
#3. Find the male customers who are staying with their families.
result = conn.execute("SELECT * FROM df WHERE GENDER = 'M' AND Housing_type = 'With parents'")
rows = result.fetchall()
for row in rows[:]:
    print(row)

(5021303, 'M', 'N', 'N', 1, 472500.0, 'Pensioner', 'Higher education', 'Married', 'With parents', -8907.0, -913, 1, 0, 0, 1, None, 3, 1)
(5079166, 'M', 'Y', 'N', 0, 202500.0, 'Working', 'Secondary / secondary special', 'Married', 'With parents', -13720.0, -1394, 1, 0, 0, 0, 'Laborers', 2, 1)
(5079167, 'M', 'Y', 'N', 0, 202500.0, 'Working', 'Secondary / secondary special', 'Married', 'With parents', -13720.0, -1394, 1, 0, 0, 0, 'Laborers', 2, 1)
(5079168, 'M', 'Y', 'N', 0, 202500.0, 'Working', 'Secondary / secondary special', 'Married', 'With parents', -13720.0, -1394, 1, 0, 0, 0, 'Laborers', 2, 1)
(5050729, 'M', 'Y', 'N', 0, 180000.0, 'Working', 'Secondary / secondary special', 'Single / not married', 'With parents', -8528.0, -531, 1, 0, 0, 0, None, 1, 0)
(5028383, 'M', 'Y', 'N', 0, 337500.0, 'Working', 'Secondary / secondary special', 'Single / not married', 'With parents', -11344.0, -3309, 1, 0, 0, 0, 'Core staff', 1, 0)
(5143019, 'M', 'N', 'N', 0, 270000.0, 'Working', 'Secondary / secondary special', 'Married', 'With parents', -11768.0, -622, 1, 1, 1, 0, 'Laborers', 2, 0)
(5067982, 'M', 'Y', 'Y', 0, 153000.0, 'Working', 'Higher education', 'Separated', 'With parents', -20013.0, -7640, 1, 0, 0, 1, 'Managers', 1, 0)
(5143573, 'M', 'Y', 'N', 0, 157500.0, 'Working', 'Incomplete higher', 'Married', 'With parents', -9124.0, -960, 1, 1, 0, 0, 'Drivers', 2, 0)
(5038751, 'M', 'Y', 'Y', 2, 157500.0, 'Commercial associate', 'Higher education', 'Married', 'With parents', -14192.0, -626, 1, 0, 0, 0, 'Drivers', 4, 0)
(5010203, 'M', 'Y', 'Y', 0, 135000.0, 'Working', 'Lower secondary', 'Married', 'With parents', -9981.0, -1866, 1, 0, 0, 1, 'Laborers', 2, 0)
(5058267, 'M', 'N', 'N', 1, 225000.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'With parents', -17868.0, -1912, 1, 0, 0, 0, 'Drivers', 3, 0)
(5024352, 'M', 'Y', 'Y', 0, 585000.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'With parents', -16653.0, -1646, 1, 0, 0, 0, 'Drivers', 2, 0)
(5150038, 'M', 'N', 'N', 0, 180000.0, 'Working', 'Secondary / secondary special', 'Single / not married', 'With parents', -12784.0, -1537, 1, 0, 0, 0, 'Drivers', 1, 0)
(5113302, 'M', 'N', 'Y', 1, 180000.0, 'Working', 'Higher education', 'Married', 'With parents', -15670.0, -1654, 1, 0, 0, 0, 'Cooking staff', 3, 0)
(5126311, 'M', 'N', 'N', 0, 180000.0, 'Working', 'Incomplete higher', 'Civil marriage', 'With parents', -7705.0, -288, 1, 1, 0, 1, 'Core staff', 2, 0)
(5126751, 'M', 'Y', 'N', 2, 135000.0, 'Working', 'Secondary / secondary special', 'Married', 'With parents', -16625.0, -561, 1, 0, 0, 0, None, 4, 0)
(5037125, 'M', 'Y', 'N', 0, 180000.0, 'Working', 'Higher education', 'Married', 'With parents', -11664.0, -2227, 1, 0, 1, 0, 'Core staff', 2, 0)
(5054414, 'M', 'N', 'N', 0, 225000.0, 'Commercial associate', 'Higher education', 'Married', 'With parents', -13021.0, -5082, 1, 1, 0, 0, 'Managers', 2, 0)
(5145694, 'M', 'Y', 'Y', 0, 225000.0, 'Working', 'Higher education', 'Single / not married', 'With parents', -9444.0, -663, 1, 1, 1, 0, None, 1, 0)
(5146429, 'M', 'Y', 'N', 0, 261000.0, 'Commercial associate', 'Incomplete higher', 'Civil marriage', 'With parents', -8897.0, -674, 1, 0, 0, 0, 'Sales staff', 2, 0)
(5054407, 'M', 'N', 'N', 0, 225000.0, 'Commercial associate', 'Higher education', 'Married', 'With parents', -13021.0, -5082, 1, 1, 0, 0, 'Managers', 2, 0)
(5068648, 'M', 'N', 'Y', 0, 135000.0, 'Working', 'Secondary / secondary special', 'Single / not married', 'With parents', -11344.0, -1054, 1, 0, 0, 0, 'Drivers', 1, 0)
(5143560, 'M', 'N', 'N', 2, 202500.0, 'Working', 'Secondary / secondary special', 'Married', 'With parents', -10954.0, -745, 1, 0, 0, 0, 'Drivers', 4, 0)
(5125542, 'M', 'N', 'N', 0, 180000.0, 'Working', 'Higher education', 'Married', 'With parents', -13484.0, -2417, 1, 1, 1, 0, 'High skill tech staff', 2, 0)
(5142781, 'M', 'Y', 'N', 2, 157500.0, 'Working', 'Secondary / secondary special', 'Separated', 'With parents', -13979.0, -1626, 1, 0, 0, 0, 'Laborers', 3, 0)
(5024592, 'M', 'Y', 'Y', 0, 157500.0, 'Working', 'Secondary / secondary special', 'Married', 'With parents', -8893.0, -1615, 1, 1, 0, 0, 'Drivers', 2, 0)
(5094884, 'M', 'N', 'Y', 0, 450000.0, 'Commercial associate', 'Secondary / secondary special', 'Single / not married', 'With parents', -10363.0, -1282, 1, 0, 0, 0, 'Managers', 1, 0)
(5033496, 'M', 'Y', 'N', 1, 202500.0, 'Commercial associate', 'Higher education', 'Married', 'With parents', -9956.0, -444, 1, 0, 0, 0, 'Managers', 3, 0)
(5067203, 'M', 'N', 'N', 1, 405000.0, 'Working', 'Secondary / secondary special', 'Married', 'With parents', -12675.0, -1328, 1, 0, 0, 0, 'Drivers', 3, 0)
(5045537, 'M', 'Y', 'N', 2, 225000.0, 'State servant', 'Higher education', 'Married', 'With parents', -10937.0, -1539, 1, 0, 0, 0, 'High skill tech staff', 4, 0)
(5009269, 'M', 'Y', 'N', 0, 337500.0, 'State servant', 'Higher education', 'Married', 'With parents', -10266.0, -1652, 1, 1, 1, 0, 'Managers', 2, 0)
(5069007, 'M', 'Y', 'Y', 0, 337500.0, 'Working', 'Higher education', 'Married', 'With parents', -10622.0, -1175, 1, 0, 0, 0, 'Laborers', 2, 0)
(5066915, 'M', 'Y', 'Y', 0, 180000.0, 'Working', 'Higher education', 'Married', 'With parents', -11089.0, -1467, 1, 0, 0, 0, 'Laborers', 2, 0)
(5143025, 'M', 'N', 'N', 0, 270000.0, 'Working', 'Secondary / secondary special', 'Married', 'With parents', -11768.0, -622, 1, 1, 1, 0, 'Laborers', 2, 0)
(5010202, 'M', 'Y', 'Y', 0, 135000.0, 'Working', 'Lower secondary', 'Married', 'With parents', -9981.0, -1866, 1, 0, 0, 1, 'Laborers', 2, 0)
(5028612, 'M', 'Y', 'Y', 0, 225000.0, 'Commercial associate', 'Higher education', 'Single / not married', 'With parents', -10681.0, -2152, 1, 0, 1, 0, 'Sales staff', 1, 0)

In [ ]:
#4. Please list the top five people having the highest income.
result = conn.execute("SELECT * FROM df ORDER BY Annual_income desc limit 5")
rows = result.fetchall()
for row in rows[:]:
    print(row)

(5143231, 'F', 'Y', 'Y', 1, 1575000.0, 'Commercial associate', 'Higher education', 'Single / not married', 'House / apartment', -10142.0, -2479, 1, 0, 0, 0, 'Managers', 2, 0)
(5143235, 'F', 'Y', 'Y', 1, 1575000.0, 'Commercial associate', 'Higher education', 'Single / not married', 'House / apartment', -10142.0, -2479, 1, 0, 0, 0, 'Managers', 2, 0)
(5090470, 'M', 'N', 'Y', 1, 900000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -15380.0, -4509, 1, 0, 0, 0, 'Laborers', 3, 0)
(5079016, 'M', 'Y', 'Y', 2, 900000.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -9889.0, -1000, 1, 0, 0, 0, 'Managers', 4, 0)
(5079017, 'M', 'Y', 'Y', 2, 900000.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -9889.0, -1000, 1, 0, 0, 0, 'Managers', 4, 0)

In [ ]:
#5. How many married people are having bad credit?
result = conn.execute("SELECT * FROM df WHERE Marital_status = 'Married' AND label = 1")
rows = result.fetchall()
for row in rows[:]:
    print(row)

(5008827, 'M', 'Y', 'Y', 0, 180000.0, 'Pensioner', 'Higher education', 'Married', 'House / apartment', -18772.0, 365243, 1, 0, 0, 0, None, 2, 1)
(5009744, 'F', 'Y', 'N', 0, 315000.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -13557.0, -586, 1, 1, 1, 0, None, 2, 1)
(5009746, 'F', 'Y', 'N', 0, 315000.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', None, -586, 1, 1, 1, 0, None, 2, 1)
(5009749, 'F', 'Y', 'N', 0, None, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -13557.0, -586, 1, 1, 1, 0, None, 2, 1)
(5009752, 'F', 'Y', 'N', 0, 315000.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -13557.0, -586, 1, 1, 1, 0, None, 2, 1)
(5009753, None, 'Y', 'N', 0, 315000.0, 'Pensioner', 'Higher education', 'Married', 'House / apartment', -13557.0, -586, 1, 1, 1, 0, None, 2, 1)
(5009754, 'F', 'Y', 'N', 0, 315000.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -13557.0, -586, 1, 1, 1, 0, None, 2, 1)
(5009894, 'F', 'N', 'N', 0, 180000.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -22134.0, 365243, 1, 0, 0, 0, None, 2, 1)
(5010864, 'M', 'Y', 'Y', 1, 450000.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'House / apartment', -18173.0, -678, 1, 0, 1, 1, 'Core staff', 3, 1)
(5010868, 'M', 'Y', 'Y', 1, 450000.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -18173.0, -678, 1, 0, 1, 1, 'Core staff', 3, 1)
(5018498, 'F', 'Y', 'Y', 0, 90000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -18950.0, -1002, 1, 1, 1, 0, 'Cooking staff', 2, 1)
(5018501, 'F', 'Y', 'Y', 0, None, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -18950.0, -1002, 1, 1, 1, 0, 'Cooking staff', 2, 1)
(5018503, 'F', 'Y', 'Y', 0, 90000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -18950.0, -1002, 1, 1, 1, 0, 'Cooking staff', 2, 1)
(5021303, 'M', 'N', 'N', 1, 472500.0, 'Pensioner', 'Higher education', 'Married', 'With parents', -8907.0, -913, 1, 0, 0, 1, None, 3, 1)
(5021310, 'M', 'N', 'Y', 0, 270000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -16896.0, -248, 1, 0, 0, 0, 'Laborers', 2, 1)
(5021998, 'M', 'N', 'Y', 0, 90000.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -18863.0, -1644, 1, 0, 0, 1, None, 2, 1)
(5023831, 'F', 'N', 'Y', 2, 112500.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'House / apartment', -12135.0, -925, 1, 0, 0, 0, 'Sales staff', 4, 1)
(5024071, 'F', 'N', 'Y', 0, 180000.0, 'Working', 'Higher education', 'Married', 'House / apartment', -15976.0, -854, 1, 0, 0, 0, 'Laborers', 2, 1)
(5024213, 'F', 'Y', 'Y', 0, 540000.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -15702.0, -185, 1, 0, 1, 0, None, 2, 1)
(5024916, 'F', 'N', 'Y', 0, 112500.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -21832.0, 365243, 1, 0, 1, 0, None, 2, 1)
(5024917, 'F', 'N', 'Y', 0, None, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -21832.0, 365243, 1, 0, 1, 0, None, 2, 1)
(5025127, None, 'N', 'Y', 0, 292500.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -11111.0, -3350, 1, 0, 0, 0, 'High skill tech staff', 2, 1)
(5028580, 'M', 'N', 'N', 0, 540000.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -19996.0, -691, 1, 0, 0, 0, 'Managers', 2, 1)
(5029311, 'F', 'N', 'Y', 0, 112500.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -21876.0, 365243, 1, 0, 1, 1, None, 2, 1)
(5033514, 'F', 'Y', 'N', 1, 135000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -15952.0, -384, 1, 1, 0, 0, 'Sales staff', 3, 1)
(5033916, 'M', 'N', 'Y', 0, 180000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -13015.0, -3647, 1, 0, 0, 0, None, 2, 1)
(5036590, 'M', 'Y', 'Y', 0, 292500.0, 'Working', 'Higher education', 'Married', 'House / apartment', -21055.0, -808, 1, 0, 0, 0, 'Drivers', 2, 1)
(5036660, 'F', 'Y', 'Y', 0, 76500.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -23835.0, 365243, 1, 0, 0, 0, None, 2, 1)
(5036795, 'M', 'Y', 'Y', 0, 215100.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'House / apartment', -19175.0, -1285, 1, 0, 1, 0, 'Laborers', 2, 1)
(5042064, 'F', 'Y', 'N', 2, 270000.0, 'State servant', 'Higher education', 'Married', 'House / apartment', -16053.0, -7369, 1, 1, 1, 0, None, 4, 1)
(5047662, 'F', 'N', 'Y', 1, 67500.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'House / apartment', -18880.0, -4114, 1, 0, 0, 0, 'Accountants', 3, 1)
(5048300, 'M', 'Y', 'N', 1, 180000.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'House / apartment', -11091.0, -1161, 1, 0, 0, 0, 'Laborers', 3, 1)
(5048301, 'M', 'Y', 'N', 1, 180000.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'House / apartment', -11091.0, -1161, 1, 0, 0, 0, 'Laborers', 3, 1)
(5050603, 'M', 'N', 'N', 0, 157500.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -18327.0, -7288, 1, 1, 0, 0, 'Laborers', 2, 1)
(5050606, 'M', 'N', 'N', 0, 157500.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -18327.0, -7288, 1, 1, 0, 0, 'Laborers', 2, 1)
(5051160, 'M', 'Y', 'N', 1, 135000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -9594.0, -866, 1, 0, 0, 0, 'Laborers', 3, 1)
(5051161, 'M', 'Y', 'N', 1, 135000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -9594.0, -866, 1, 0, 0, 0, 'Laborers', 3, 1)
(5052659, 'F', 'N', 'Y', 0, 103500.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -10396.0, -564, 1, 0, 0, 1, 'IT staff', 2, 1)
(5052661, 'F', 'N', 'Y', 0, 103500.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -10396.0, -564, 1, 0, 0, 1, 'IT staff', 2, 1)
(5052877, 'M', 'Y', 'Y', 0, 225000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -17915.0, -3366, 1, 0, 0, 0, 'Drivers', 2, 1)
(5052879, 'M', 'Y', 'Y', 0, 225000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -17915.0, -3366, 1, 0, 0, 0, 'Drivers', 2, 1)
(5052882, 'M', 'Y', 'Y', 0, 225000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -17915.0, -3366, 1, 0, 0, 0, 'Drivers', 2, 1)
(5053254, 'F', 'Y', 'Y', 0, 180000.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'House / apartment', -18667.0, -2150, 1, 1, 0, 0, 'Managers', 2, 1)
(5054063, 'M', 'N', 'N', 1, 157500.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -16424.0, -1458, 1, 0, 0, 0, 'Drivers', 3, 1)
(5054068, 'M', 'N', 'N', 1, 157500.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -16424.0, -1458, 1, 0, 0, 0, 'Drivers', 1, 1)
(5054524, 'F', 'N', 'N', 2, 180000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -16611.0, -8369, 1, 0, 0, 0, None, 4, 1)
(5061360, 'M', 'N', 'Y', 0, 65250.0, 'Pensioner', 'Higher education', 'Married', 'House / apartment', -20872.0, 365243, 1, 0, 0, 0, None, 2, 1)
(5061396, 'M', 'N', 'Y', 0, 72900.0, 'Pensioner', 'Lower secondary', 'Married', 'House / apartment', -23423.0, 365243, 1, 0, 0, 0, None, 2, 1)
(5061636, 'F', 'N', 'Y', 0, 225000.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'Municipal apartment', -21664.0, 365243, 1, 0, 1, 0, None, 2, 1)
(5061691, 'F', 'N', 'Y', 1, 67500.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -9122.0, -1567, 1, 0, 0, 1, 'Waiters/barmen staff', 3, 1)
(5065348, 'F', 'Y', 'Y', 0, 202500.0, 'Working', 'Higher education', 'Married', 'House / apartment', -15160.0, -3974, 1, 0, 0, 0, 'High skill tech staff', 2, 1)
(5065462, 'F', 'N', 'N', 0, 157500.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'House / apartment', -19004.0, -1570, 1, 0, 0, 0, None, 2, 1)
(5065518, 'F', 'Y', 'N', 1, 202500.0, 'Working', 'Higher education', 'Married', 'Rented apartment', -9510.0, -2878, 1, 0, 0, 0, 'Laborers', 3, 1)
(5068456, 'F', 'Y', 'N', 0, 135000.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'House / apartment', -13581.0, -2576, 1, 0, 0, 0, None, 2, 1)
(5069216, 'F', 'Y', 'Y', 0, 256500.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -11210.0, -1724, 1, 1, 0, 0, 'Accountants', 2, 1)
(5069307, 'M', 'N', 'Y', 0, 157500.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -15640.0, -1328, 1, 0, 0, 0, 'Core staff', 2, 1)
(5078820, 'F', 'N', 'N', 2, 225000.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'House / apartment', -14476.0, -4987, 1, 0, 0, 0, 'High skill tech staff', 4, 1)
(5079166, 'M', 'Y', 'N', 0, 202500.0, 'Working', 'Secondary / secondary special', 'Married', 'With parents', -13720.0, -1394, 1, 0, 0, 0, 'Laborers', 2, 1)
(5079167, 'M', 'Y', 'N', 0, 202500.0, 'Working', 'Secondary / secondary special', 'Married', 'With parents', -13720.0, -1394, 1, 0, 0, 0, 'Laborers', 2, 1)
(5079168, 'M', 'Y', 'N', 0, 202500.0, 'Working', 'Secondary / secondary special', 'Married', 'With parents', -13720.0, -1394, 1, 0, 0, 0, 'Laborers', 2, 1)
(5085886, 'M', 'Y', 'Y', 0, 315000.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -18661.0, -1265, 1, 0, 0, 0, 'Managers', 2, 1)
(5089162, 'F', 'Y', 'N', 0, 225000.0, 'Working', 'Higher education', 'Married', 'House / apartment', -20264.0, -2531, 1, 1, 1, 0, 'Accountants', 2, 1)
(5090214, 'M', 'Y', 'Y', 0, 135000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -10712.0, -217, 1, 0, 0, 0, 'Laborers', 2, 1)
(5090216, 'M', 'Y', 'Y', 0, 135000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -10712.0, -217, 1, 0, 0, 0, 'Laborers', 2, 1)
(5092087, 'M', 'Y', 'Y', 2, 247500.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -17320.0, -535, 1, 0, 0, 0, 'Laborers', 4, 1)
(5092245, 'F', 'N', 'N', 0, 103500.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -22111.0, 365243, 1, 0, 0, 0, None, 2, 1)
(5092479, 'M', 'N', 'N', 1, 85500.0, 'State servant', 'Secondary / secondary special', 'Married', 'Municipal apartment', -15014.0, -6866, 1, 0, 0, 0, 'Core staff', 3, 1)
(5097065, 'F', 'N', 'Y', 0, 121500.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -18971.0, -8161, 1, 0, 0, 0, 'Managers', 2, 1)
(5106077, 'F', 'N', 'Y', 0, 135000.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'House / apartment', -19764.0, -6944, 1, 0, 0, 0, 'Medicine staff', 2, 1)
(5113944, 'F', 'Y', 'N', 0, 135000.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -23324.0, 365243, 1, 0, 1, 0, None, 2, 1)
(5114249, 'M', 'N', 'N', 1, 130500.0, 'Working', 'Incomplete higher', 'Married', 'Rented apartment', -11331.0, -1808, 1, 1, 1, 0, None, 3, 1)
(5114253, 'M', 'N', 'N', 1, 130500.0, 'Working', 'Incomplete higher', 'Married', 'Rented apartment', -11331.0, -1808, 1, 1, 1, 0, None, 3, 1)
(5115604, 'F', 'N', 'Y', 0, 202500.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -14523.0, -3420, 1, 0, 0, 0, 'Core staff', 2, 1)
(5115606, 'F', 'N', 'Y', 0, 202500.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -14523.0, -3420, 1, 0, 0, 0, 'Core staff', 2, 1)
(5115608, 'F', 'N', 'Y', 0, 202500.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -14523.0, -3420, 1, 0, 0, 0, 'Core staff', 2, 1)
(5115610, 'F', 'N', 'Y', 0, 202500.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -14523.0, -3420, 1, 0, 0, 0, 'Core staff', 2, 1)
(5116258, 'F', 'N', 'Y', 4, 180000.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'House / apartment', -17468.0, -7413, 1, 0, 0, 0, 'Core staff', 6, 1)
(5116301, 'F', 'N', 'Y', 0, 180000.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -22655.0, 365243, 1, 0, 0, 0, None, 2, 1)
(5116302, 'F', 'N', 'Y', 0, 180000.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -22655.0, 365243, 1, 0, 0, 0, None, 2, 1)
(5116304, 'F', 'N', 'Y', 0, 180000.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -22655.0, 365243, 1, 0, 0, 0, None, 2, 1)
(5116305, 'F', 'N', 'Y', 0, None, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -22655.0, 365243, 1, 0, 0, 0, None, 2, 1)
(5116906, 'M', 'Y', 'Y', 0, 211500.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -15047.0, -7553, 1, 0, 0, 0, 'Core staff', 2, 1)
(5117313, 'F', 'N', 'Y', 1, 157500.0, 'Commercial associate', 'Secondary / secondary special', 'Married', 'House / apartment', -13022.0, -3931, 1, 1, 1, 0, 'Laborers', 3, 1)
(5118275, 'F', 'N', 'N', 0, 112500.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'Municipal apartment', -21363.0, 365243, 1, 0, 0, 0, None, 2, 1)
(5118278, 'F', 'N', 'N', 0, 112500.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'Municipal apartment', -21363.0, 365243, 1, 0, 0, 0, None, 2, 1)
(5118279, 'F', 'N', 'N', 0, 112500.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'Municipal apartment', -21363.0, 365243, 1, 0, 0, 0, None, 2, 1)
(5118283, 'M', 'N', 'N', 0, 112500.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'Municipal apartment', -21363.0, 365243, 1, 0, 0, 0, None, 2, 1)
(5118541, 'F', 'N', 'Y', 0, 72000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -18132.0, -1039, 1, 0, 1, 0, 'Laborers', 2, 1)
(5125299, 'F', 'N', 'Y', 0, 148500.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -20846.0, 365243, 1, 0, 0, 0, None, 2, 1)
(5125708, 'F', 'Y', 'Y', 0, 135000.0, 'Working', 'Lower secondary', 'Married', 'House / apartment', -16413.0, -622, 1, 0, 1, 0, 'High skill tech staff', 2, 1)
(5125716, 'F', 'Y', 'Y', 0, 135000.0, 'Working', 'Lower secondary', 'Married', 'House / apartment', -16413.0, -622, 1, 0, 1, 0, 'High skill tech staff', 2, 1)
(5126278, None, 'N', 'N', 0, 162000.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -21244.0, 365243, 1, 0, 0, 0, None, 2, 1)
(5135344, 'M', 'N', 'Y', 0, 112500.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -20103.0, -555, 1, 0, 0, 0, 'Security staff', 2, 1)
(5135345, 'M', 'N', 'Y', 0, 112500.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -20103.0, -555, 1, 0, 0, 0, 'Security staff', 2, 1)
(5135346, 'M', 'N', 'Y', 0, 112500.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -20103.0, -555, 1, 0, 0, 0, 'Security staff', 2, 1)
(5135636, 'M', 'Y', 'Y', 0, 195750.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -18836.0, -931, 1, 1, 1, 0, 'Laborers', 2, 1)
(5142183, 'M', 'Y', 'Y', 2, None, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -17841.0, -4305, 1, 1, 1, 0, 'Managers', 4, 1)
(5142184, 'M', 'Y', 'Y', 2, 450000.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -17841.0, -4305, 1, 1, 1, 0, 'Managers', 4, 1)
(5142185, 'M', 'Y', 'Y', 2, 450000.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -17841.0, -4305, 1, 1, 1, 0, 'Managers', 4, 1)
(5142361, 'M', 'Y', 'Y', 1, 112500.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -16204.0, -925, 1, 1, 1, 0, 'Drivers', 3, 1)
(5142362, 'M', 'Y', 'Y', 1, 112500.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -16204.0, -925, 1, 1, 1, 0, 'Drivers', 3, 1)
(5143342, 'M', 'N', 'N', 1, 216000.0, 'Working', 'Secondary / secondary special', 'Married', 'Municipal apartment', -12946.0, -2418, 1, 0, 0, 1, 'Laborers', 3, 1)
(5145690, 'F', 'N', 'Y', 0, 306000.0, 'Pensioner', 'Higher education', 'Married', 'House / apartment', -21590.0, 365243, 1, 0, 0, 0, None, 2, 1)
(5145817, 'F', 'N', 'Y', 0, 90000.0, 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -22011.0, 365243, 1, 0, 0, 0, None, 2, 1)
(5146079, 'F', 'N', 'Y', 1, 108000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -12723.0, -1132, 1, 1, 1, 0, 'Sales staff', 3, 1)
(5146167, 'F', 'N', 'Y', 0, 135000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -20296.0, -1770, 1, 0, 0, 0, 'Security staff', 2, 1)
(5148932, 'M', 'Y', 'N', 0, 108000.0, 'Working', 'Secondary / secondary special', 'Married', 'Office apartment', -17209.0, -1081, 1, 0, 0, 0, 'Security staff', 2, 1)
(5148934, 'M', 'Y', 'N', 0, 108000.0, 'Working', 'Secondary / secondary special', 'Married', 'Office apartment', -17209.0, -1081, 1, 0, 0, 0, 'Security staff', 2, 1)
(5149188, 'M', 'Y', 'N', 1, 450000.0, 'Working', 'Higher education', 'Married', 'House / apartment', -9847.0, -502, 1, 0, 1, 1, 'Core staff', 3, 1)
(5149190, 'M', 'Y', 'N', 1, 450000.0, 'Working', 'Higher education', 'Married', 'House / apartment', -9847.0, -502, 1, 0, 1, 1, 'Core staff', 3, 1)
(5149192, None, 'Y', 'N', 1, 450000.0, 'Working', 'Higher education', 'Married', 'House / apartment', -9847.0, -502, 1, 0, 1, 1, 'Core staff', 3, 1)
(5149828, 'M', 'Y', 'Y', 0, 315000.0, 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -17348.0, -2420, 1, 0, 0, 0, 'Managers', 2, 1)
(5149834, 'F', 'N', 'Y', 0, 157500.0, 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -12387.0, -1325, 1, 0, 1, 1, 'Medicine staff', 2, 1)
(5149838, 'F', 'N', 'Y', 0, 157500.0, 'Pensioner', 'Higher education', 'Married', 'House / apartment', -12387.0, -1325, 1, 0, 1, 1, 'Medicine staff', 2, 1)

In [ ]:
#6. What is the highest education level and what is the total count?


result = conn.execute("SELECT EDUCATION, COUNT(*) FROM df group by EDUCATION having EDUCATION= 'Academic degree'")

rows = result.fetchall()
for row in rows[:]:
    print(row)

('Academic degree', 2)

In [ ]:
# 7. Between married males and females, who is having more bad credit?
result = conn.execute("""
    SELECT
        GENDER,
        COUNT(CASE WHEN GENDER = 'M' THEN 1 END) AS Male_Bad_Credit_Count,
        COUNT(CASE WHEN GENDER = 'F' THEN 1 END) AS Female_Bad_Credit_Count
    FROM
        df
    WHERE
        Marital_status = 'Married'
        AND label = 1
    GROUP BY
        GENDER
""")
rows = result.fetchall()
for row in rows[:]:
    print(row)

(None, 0, 0)
('M', 51, 0)
('F', 0, 59)